body {
    font-family: monospace;
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: auto;
    
}


nav a:hover,
nav .dropdown-item:hover {
    text-transform: uppercase;
    background-color: #198754;
    color: white !important;
}


.left {
    padding-left: 10px;
}


.hero {
    background-image: url('/Images/pexels-nolandlive-26447526.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-text {
    font-weight: bold;
}


.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


.hero p {
    font-size: 1.75rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

th, .price {
    text-align: center;
}

.item {
    font-size: 1.75rem;
}

th {
    font-size: 1.5rem;
}

td {
    font-size: 1.2rem;
}

@media (max-width: 850px){
    .item {
        font-size: .85rem
    }

    th {
        font-size: .8rem
    }

    td {
        font-size: .75rem
    }
}